/notebook/wiki.es.align.vec
/notebook/wiki.it.align.vec
/notebook/wiki.zh.align.vec
/notebook/wiki.en.align.vec
__pycache__
.env
/notebook/MT/mBART/final

/notebook/MT/mBART/final.zip
backend/mBART/final
