fastapi
uvicorn
tinydb
pydantic
fuzzywuzzy
python-Levenshtein
sentencepiece


numpy==2.2.4
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.15.2
rank_bm25==0.2.2
jieba==0.42.1
sentence-transformers==4.1.0
pinecone==6.0.2
bert-score==0.3.13
openai==1.74.0
transformers==4.51.3
evaluate==0.4.3
torch==2.6.0
argparse==1.4.0
dotenv==0.9.9
python-dotenv==1.1.0
nltk==3.9.1
langdetect==1.0.9

'''
for mac:
git clone https://github.com/Microsoft/vcpkg.git
cd vcpkg
./bootstrap-vcpkg.sh
./vcpkg integrate install
./vcpkg install sentencepiece
'''